
h1
{
    border : 10px dashed yellow ; 
    padding : 5px ; 
    width : 450px ;

}
h1 {color : red ; background : green ; }

.headersec {
  position: absolute;
  left: 730px;
  top: 0px;
}
img.banner {
  position: relative;
  top: 0px;
  left: 0px;
}
h3.purple {color:darkmagenta ; }
h3.orange {color:darkorange ; }
h3.dp {color:rgb(37, 0, 71) ; }
h3.ehlysruntz {color:rgb(186, 139, 212) ; }

.social-icon {
    color:black ;
    margin: 0 10px ;
    text-decoration: none ;
    Transition: color 0.2s ;
}

.social-icon:hover {
    color:darkmagenta ;
}

.row2 {
    position:relative;
    left: 640px;
    padding-top: 10px;
    bottom: 860px;
    width: 640px;
}

.row1 {
    position: relative;
    width: 640px;
}

article.sidebar2 > p,aside
{display : table-cell ; padding-right : 20px ; }

article.eraside > p,aside
{display : table-cell ; padding-right : 20px ; }

article.MMM1 > p,aside
{display : table-cell ; padding-right : 20px ; }

article.sidebar > p,aside
{display : table-cell ; padding-right : 20px ; }



